<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<% if current_user %>
<h3> Welcome </h3>
<% else %>
<h3> Welcome to Concierge. Please log in or sign up using your insurance ID number </h3>
<% end %>

	
	<div class="divider large visible-desktop"></div>
    <div class="divider  hidden-desktop"></div>

    <div class="container">



        <div class="row-fluid" id="demo-1">
            <div class="span10 offset1">
                <h4>Here to Meet All Your Medical Needs</h4>
                <div class="tabbable custom-tabs tabs-animated  flat flat-all hide-label-980 shadow track-url auto-scroll">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#panel1" data-toggle="tab" class="active "><i class="icon-lock"></i>&nbsp;<span>Login Panel</span></a></li>
                        <li><a href="#panel2" data-toggle="tab"><i class="icon-user"></i>&nbsp;<span>Member Look Up</span></a></li>
                        <li><a href="#panel3" data-toggle="tab"><i class="icon-key"></i>&nbsp;<span>Registration</span></a></li>
                        <li><a href="#panel4" data-toggle="tab"><i class="icon-envelope-alt"></i>&nbsp;<span>Contact Us</span></a></li>
                    </ul>
                    <div class="tab-content ">
                        <div class="tab-pane active" id="panel1">
                            <div class="row-fluid">
                                <div class="span5">
                                    <h4><i class="icon-user"></i>&nbsp;&nbsp; Login Here</h4>

                                    <%= form_tag '/login', method: :post do %>

									<div>

									<%= label_tag :email %>
									<%= text_field_tag :email %>

									</div>

									<div>

									<%= label_tag :password %>
									<%= password_field_tag :password %>

									</div>

									<%= submit_tag 'Login' %>

									<% end %>
                                    <i class="icon-question-sign"></i>&nbsp;Forgot Password</a> </label>
                                    
                                     <p>   <button type="button" data-toggle="button" class="btn btn-mini custom-checkbox active"><i class="icon-ok"></i></button>
                                        &nbsp;&nbsp;&nbsp;Remember Me
                                    </label> </p>
                                    <br />

                                    
                                </div>
                                <div class="span3">
                                    <h4><i class="icon-expand-alt"></i>&nbsp;&nbsp;Social</h4>
                                    <div class="socials clearfix">
                                        <a class="icon-facebook facebook"></a>
                                        <a class="icon-twitter twitter"></a>
                                        <a class="icon-google-plus google-plus"></a>
                                        <a class="icon-pinterest pinterest"></a>
                                        <a class="icon-linkedin linked-in"></a>
                                        <a class="icon-github github"></a>
                                    </div>
                                </div>
                                <div class="span4">
                                    <h4><i class="icon-question"></i>&nbsp;&nbsp;Registration</h4>
                                    <div class="box">
                                        <p>
                                            Get set up to address most of your medical issues here.
                                        </p>
                                        <p>
                                            This site is provided by your health plan to help you navigate your healthcare experience
                                        </p>
                                    </div>
                                    <div class="box">
                                        Don't Have An Account.<br />
                                        Click Here For <a href="#" data-toggle="tab">Free Register</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="panel2">
                            <div class="row-fluid">
                                <div class="span5">
                                    <h4><i class="icon-user"></i>&nbsp;&nbsp; Member Look Up</h4>

                                    <%= form_tag '/users', method: :post do %>
                                    <div>
										<%= label_tag :first_name %>
										<%= text_field_tag :first_name%>
									</div>

									<div>

								<%= label_tag :last_name %>
								<%= text_field_tag :last_name %>

							</div>


								<div>
								<%= label_tag :email %>
								<%= text_field_tag :email %>

								</div>

								<div>
								<%= label_tag :health_plan_id %>
								<%= text_field_tag :health_plan_id %>

								</div>
                                    
                                    
                                        <button type="button" data-toggle="button" class="btn btn-mini custom-checkbox active"><i class="icon-ok"></i></button>
                                        &nbsp;&nbsp;&nbsp;I Aggree With <a href="#">Terms &amp; Conditions</a>
                                    </label>
                                    <br />

                                    
                                    <%= submit_tag 'Go to Signup Page' %>
                                    <% end %>

                                </div>
                                <div class="span3">
                                    <h4><i class="icon-expand-alt"></i>&nbsp;&nbsp;Social</h4>
                                    <div class="socials clearfix">
                                        <a class="icon-facebook facebook"></a>
                                        <a class="icon-twitter twitter"></a>
                                        <a class="icon-google-plus google-plus"></a>
                                        <a class="icon-pinterest pinterest"></a>
                                        <a class="icon-linkedin linked-in"></a>
                                        <a class="icon-github github"></a>
                                    </div>
                                </div>
                                <div class="span4">
                                    <h4><i class="icon-question"></i>&nbsp;&nbsp;Login</h4>
                                    <div class="box">
                                        <p>
                                            Get set up to address most of your medical issues here.
                                        </p>
                                        <p>
                                            This site is provided by your health plan to help you navigate your healthcare experience
                                        </p>
                                    </div>
                                    <div class="box">
                                        Already Have An Account.<br />
                                        Click Here For <a href="/login" data-toggle="tab">Login</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="panel3">
                            <div class="row-fluid">
                                <div class="span5">
                                    <h4><i class="icon-unlock"></i>&nbsp;&nbsp;Register</h4>


                                    <h3> Please enter your information and health plan ID on the 'Member Look Up' tab before you can register to use this site </h3>
                                    </div>
                                </div>
                            </div>

									

                                    
                                
                        <div id="panel4" class="tab-pane">
                            <div class="row-fluid">
                                <div class="span5">
                                    <h4><i class="icon-envelope-alt"></i>&nbsp;&nbsp;Contact Us</h4>
                                    <label>Name</label>
                                    <input type="text" value="" id="" class="input-block-level" />
                                    <label>Email</label>
                                    <input type="text" value="" id="Text1" class="input-block-level" />
                                    <label>Mobile No</label>
                                    <input type="text" value="" id="Text2" class="input-block-level" />
                                    <label>Message</label>
                                    <textarea class="input-block-level" rows="5"></textarea>
                                    <a href="#" class=" btn ">Send Message&nbsp;&nbsp;&nbsp;<i class="icon-chevron-sign-right"></i></a>
                                    <br class="visible-phone" />
                                    <br class="visible-phone" />
                                </div>
                                <div class="span7">
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <h4><i class="icon-location-arrow"></i>&nbsp;&nbsp;Locate Us</h4>

                                            <div class="map"></div>

                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span6">
                                            <h4><i class="icon-envelope-alt"></i>&nbsp;&nbsp;Contact Us</h4>
                                            <address>
                                                <strong>Customer Support</strong><br>
                                                <a href="mailto:#">information@maya.com</a>
                                            </address>
                                        </div>
                                        <div class="span6">
                                            <h4><i class="icon-location-arrow"></i>&nbsp;&nbsp;Our Address</h4>

                                            <address>
                                                <strong>Twitter, Inc.</strong><br>
                                                795 Folsom Ave, Suite 600<br>
                                                San Francisco, CA 94107<br>
                                                <abbr title="Phone">P:</abbr>
                                                (123) 456-7890
                                            </address>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>




