<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<h3> Based on your answers these are your options for receiving care for your current issue </h3>

<%= @user.first_name + " " + @user.last_name %>

<p> risk score:  <%= @final_risk_score %> </p> 

<p> youe risk category: <%= @risk_level %> </p>

<p> Appropriate type of settings for your care are: </p>
<h4><%= @care_place %> </h4>

<p> here are is the closest medical center to you that have <%= @care_place %> and how far it is from you: </p>

 <h3> <%= @closest_care_setting.name %>: 
 <%= @closest_distance  %> Miles </h3>

 


<p> Here are all of the medical centers that offer <%= @care_place %> for your issue </p>
 <% @care_setting.each do |setting|  %>
 <hr>
 <p> <%= setting.name %> </p>
 <p> <%= setting.address %> </p>
 <hr>

  <% end %>

 <h3> Here is estimated potential out of pocket costs for each type of setting of care (eventual amount may vary based on many factors including the nature of your issue, the type of testing and treatment performed): </h3>

 
 <% @liabilities.each do |type, payment| %>
 <hr>
 <% type = type.gsub '_', ' ' %> 
<h4> <%= type %> </h4>

 <% payment.each do |paytype, amount| %>
 <% paytype = paytype.gsub '_', ' ' %> 
<p> <%= paytype %>
 <%= amount  %> </p>

 <% end %>
 <% end %>




 

  


  

