<h3> Here is a summary of your benefits and your current status: </h3>

<h4> Your Annual Deductible: $ <%=  @user.health_plan.deductible %> </h4>

<h4> Remaining Amount to Satisfy Your Deductible for This Year: $ <%= @user.health_plan.deductible - @user.deductible %> </h4>

<h4> Your Annual Deductible> <%= @user.health_plan.deductible %> </h4>

<h4> Your Annual Deductible> <%= @user.health_plan.deductible %> </h4>

<h4> Your Annual Deductible> <%= @user.health_plan.deductible %> </h4>

<h4> Your Annual Deductible> <%= @user.health_plan.deductible %> </h4>

<h4> Your Annual Deductible> <%= @user.health_plan.deductible %> </h4>

<h4> Your Annual Deductible> <%= @user.health_plan.deductible %> </h4>