<h3> Please review and correct  information below and create a password to set up Online Account </h3>

<%= form_tag '/users', method: :patch do %>

<div>

<%= label_tag :first_name %>
<%= text_field_tag :first_name, @user.first_name %>

</div>

<div>

<%= label_tag :last_name %>
<%= text_field_tag :last_name, @user.last_name %>

</div>

<div>


<%= label_tag :address %>
<%= text_field_tag :address, @user.address %>

</div>

<div>

<%= label_tag :phone_nmber %>
<%= text_field_tag :phone_number, @user.phone_number %>

</div>

<div>


<%= label_tag :email %>
<%= text_field_tag :email, @user.email %>

</div>

<div>

<%= label_tag :health_plan_id  %>
<%= text_field_tag :health_plan_id , @user.health_plan_id %>

</div>

<div>

<%= label_tag :password %>
<%= text_field_tag :password  %>

</div>

<div>

<%= label_tag :password_confirmation %>
<%= text_field_tag :password_confirmation  %>

</div>

<%= submit_tag 'Sign UP' %>

<% end %>



